// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$orange: #f6993f;
$yellow: #ffed4a;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$violet: #8574a1;
$green: #00acb3;
$blue: #5d759b;
$grey: #f5f5f5;
$red: #f36a79;
$blue-v2: #7b91b5;
$danger-v2: #ffe7e9;
$success-v2: #90e1d8;

$greyDarker: #a2a2a2;
$greyLight: #d2d2d2;
$blueLight: #92a6c7;
$black: #6d6d6d;
$placeholderColor: #b5b6b9;

$borderRadius: 7px;
