// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Third party libs
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome.scss";
@import "~css-ripple-effect/dist/ripple.min.css";

@import "variables";

@import "base";
@import "inputs";
@import "buttons";
@import "shared";
@import "colors";

// Views
@import "views/student_index";
@import "views/auth";
@import "views/main";

#teacher-quizzes {
    .quiz {
        .date {
            width: 100%;

            p {
                color: $greyDarker;
                font-weight: 600;
                margin: 0;
                font-size: 1.1rem;
            }

            .line {
                width: 90%;
                border-bottom: 1px solid $greyLight;
            }
        }

        .body {
            background-color: #efeff0;
            border-radius: $borderRadius;
            position: relative;
            width: 100%;
            height: 100px;
            padding: 10px 35px;

            .top {
                .quiz-number {
                    color: $green;
                    font-weight: bold;
                    font-size: 1.4rem;
                }

                .line {
                    height: 25px;
                    border-right: 1px solid $greyLight;
                }

                .quiz-name {
                    color: $greyDarker;
                    font-weight: bold;
                    font-size: 1.4rem;
                }
            }

            .bottom {
                color: $blueLight;
                font-size: 1rem;
                font-weight: 700;
            }

            .blue-decor {
                top: 0;
                left: 0;
                background-color: $blueLight;
                border-radius: $borderRadius 0 0 $borderRadius;
                width: 12px;
                height: 100%;
                position: absolute;
            }

            .bottom-info {
                color: #fff;
                padding: 4px 10px;
                position: absolute;
                bottom: 0;
                right: 0;
                background-color: $green;
                border-radius: $borderRadius 0 $borderRadius 0;
                font-weight: 500;
                cursor: pointer;

                transition: background-color 150ms linear;
                outline: none;
                border: none;
            }

            .bottom-info:hover {
                background-color: darken($green, 5%);
            }
        }
    }
}

#create-quiz-page {
    .sub-title {
        font-size: 1.2rem;
        color: $greyDarker;
    }
}

#read-quiz-page {
    .page-name {
        text-align: center;
    }

    .quiz-info-left {
        .date {
            color: $black;
            font-size: 1.1rem;
            font-weight: 500;
        }

        .duration {
            color: $placeholderColor;
            font-size: 0.95rem;
        }
    }

    .quiz-info-right {
        .points {
            color: $black;
            font-size: 1.1rem;
            font-weight: 500;
        }

        .results {
            font-size: 1.1rem;
            font-weight: 500;
            color: $green;

            i {
                font-size: 0.7rem;
            }
        }
    }
}

#list-of-students {
    .page-name {
        text-align: center;
    }

    .quiz-info {
        text-align: end;

        .date {
            color: $black;
            font-size: 1.2rem;
            font-weight: bolder;
        }

        .duration {
            color: $placeholderColor;
            font-weight: 500;
        }
    }

    .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        width: 100%;
    }

    .content-table thead tr {
        color: $green;
        text-align: left;
        font-weight: bold;
        padding-bottom: 10px;
    }

    .content-table tbody td {
        padding: 12px 15px;
        background: #f4f4f4;
    }

    .content-table tbody tr {
        border-bottom: 10px solid #ffffff;
        padding-bottom: 15px;
    }

    td,
    th {
        text-align: center;
        padding: 12px;
    }

    .app-raised-button:hover {
        background-color: #6b5989;
    }

    .button__icon {
        vertical-align: middle;
        display: inline-block;
        align-items: center;
        color: #fff;
        height: 100%;
        font-size: 8px;
    }

    .content-table td:first-of-type {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .content-table td:last-of-type {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.student-quizzes {
    .body {
        background-color: #efeff0;
        border-radius: $borderRadius;
        position: relative;
        height: 100px;
        padding: 30px 35px;

        .quiz-name {
            color: $greyDarker;
            font-weight: bold;
            font-size: 1.4rem;
        }

        .section {
            color: #fff;
            padding: 4px 10px;
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: $green;
            border-radius: $borderRadius 0 $borderRadius 0;
            font-weight: 500;
        }
    }
}

.base-timer {
    position: relative;
    width: 100px;
    height: 100px;
}

.base-timer__svg {
    transform: scaleX(-1);
}

.base-timer__circle {
    fill: none;
    stroke: none;
}

.base-timer__path-elapsed {
    stroke-width: 10px;
    stroke: #8574A1;
}

.base-timer__path-remaining {
    stroke-width: 10px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;
}

.base-timer__path-remaining.green {
    color: #6EC5CC;
}

.base-timer__path-remaining.yellow {
    color: #F4EB9B;
}

.base-timer__path-remaining.red {
    color: #F36A79;
}

.base-timer__label {
    color: #5D759B;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
}

#quiz-timer {
    position: absolute;
    right: 30px;
    bottom: 30px;
}
