// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome.scss";
@import "~css-ripple-effect/dist/ripple.min.css";

@import "variables";

@import "base";
@import "inputs";
@import "buttons";
@import "shared";

.page-name {
    color: $black;
}

.question-title {
    position: relative;
    border: 1px solid $green;
    text-align: center;
    vertical-align: middle;
    min-height: 200px;

    .question-input {
        text-align: center;
        padding: 0.4rem 0.9rem;
        color: $black;
        border-radius: $borderRadius;
        border: none;
        outline: none;
        font-size: 20px;
        width: 80%;
        min-height: 60px;
        overflow-y: hidden;
    }

    .question-input::placeholder {
        color: $greyLight;
    }

    .question-number {
        position: absolute;
        left: -5px;
        top: -5px;
        padding: 2px 12px;
        font-size: 22px;
        background-color: $blue;
        color: #fff;
        outline: 8px solid #fff;
        border-radius: 3px;
        text-align: center;
        vertical-align: middle;
    }

    .attach {
        position: absolute;
        right: -1px;
        bottom: -1px;
        padding: 4px 10px;
        font-size: 22px;
        background-color: $violet;
        border-radius: $borderRadius 0 0 0;
        color: #fff;
    }
}

.question-answer-variant {
    background-color: #f8f8f9;
    position: relative;
    min-height: 60px;
    border-radius: $borderRadius;

    .radio-btn {
        position: absolute;
        left: 0;
        top: 0;
        padding: 0 10px;
        background-color: $greyLight;
        color: #fff;
        height: 100%;
        border-radius: $borderRadius 0 0 $borderRadius;
        transition: all 0.3s ease;
        cursor: pointer;
    }

    .radio-btn.checked {
        background-color: $green;
    }

    .radio-btn:hover {
        background-color: #00adb38f;
    }

    .radio-btn:focus,
    .radio-btn:active {
        background-color: $green;
    }

    .answer-input {
        margin-left: 30px;
        text-align: center;
        padding: 0.4rem 0.9rem;
        color: $black;
        border-radius: $borderRadius;
        border: none;
        outline: none;
        font-size: 20px;
        width: 100%;
        height: 100%;
        min-height: 60px;
        background-color: #f8f8f9;
        overflow-y: hidden;
    }

    .answer-input::placeholder {
        color: $greyLight;
    }

    .attach-btn {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 4px 8px;
        background-color: $violet;
        border-radius: 0 0 $borderRadius 0;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;

        .icon-attachment-clip {
            font-size: 1.2em;
        }
    }

    button {
        width: 3rem;
    }
}

.answers {
    .answer {
        display: flex;
        justify-content: center;
        align-items: center;

        color: #a2a2a2;
        font-weight: 500;
        background-color: #f8f8f9;
        position: relative;
        min-height: 60px;
        border-radius: $borderRadius;
    }

    .answer.correct {
        color: white;
        background: $green;
    }
}

.auth-body {
    .background {
        //background-image: url("../images/auth_bg.png");
        //background-position: center 56vh;
        //background-repeat: no-repeat;
        //height: 100vh;

        background-image: url("../images/choose-role.jpg");
        background-position: center center;
        background-size: cover;
        height: 100vh;
    }

    .logo {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        background-image: url("../images/logo_180.png");
        background-position: center center;
        background-size: 100% 100%;
        margin: 0 auto;
    }

    .logo-title h2 {
        color: $black;
        font-size: 2rem;
        font-weight: 900;
        text-align: center;
    }

    .sub-title h3 {
        color: #939393;
        font-weight: 500;
        font-size: 1.2rem;
        text-align: center;
    }

    .app-input, .app-select-option {
        background: #fff;
    }

    .sub-title.errorSubtitle h3 {
        color: $red;
        font-weight: 400;
    }

    .login-submit {
        button {
            background-color: $blue;
            width: 100%;
            border: none;
            outline: none;
            color: white;
            padding: 0.4rem 0.9rem;
            border-radius: $borderRadius;
        }
    }
}

.teacher-quizzes {
    .quiz {
        .date {
            width: 100%;

            p {
                color: $greyDarker;
                font-weight: 600;
                margin: 0;
                font-size: 1.1rem;
            }

            .line {
                width: 90%;
                border-bottom: 1px solid $greyLight;
            }
        }

        .body {
            background-color: #efeff0;
            border-radius: $borderRadius;
            position: relative;
            width: 100%;
            height: 100px;
            padding: 10px 35px;

            .top {
                .quiz-number {
                    color: $green;
                    font-weight: bold;
                    font-size: 1.4rem;
                }

                .line {
                    height: 25px;
                    border-right: 1px solid $greyLight;
                }

                .quiz-name {
                    color: $greyDarker;
                    font-weight: bold;
                    font-size: 1.4rem;
                }
            }

            .bottom {
                color: $blueLight;
                font-size: 1rem;
                font-weight: 700;
            }

            .blue-decor {
                top: 0;
                left: 0;
                background-color: $blueLight;
                border-radius: $borderRadius 0 0 $borderRadius;
                width: 12px;
                height: 100%;
                position: absolute;
            }

            .section {
                color: #fff;
                padding: 4px 10px;
                position: absolute;
                bottom: 0;
                right: 0;
                background-color: $green;
                border-radius: $borderRadius 0 $borderRadius 0;
                font-weight: 500;
            }
        }
    }
}

.main {
    background-image: url("../images/bg.jpg");
    background-position: center center;
    background-size: cover;
    height: 100vh;
}
.main-header {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 30px;
    &-wrapper {
        padding-top: 30px;
    }
    &_logo {
        font-size: 40px;
    }
    &_login-btn {
        background-color: $violet;
        border-radius: 10px;
        padding: 10px 35px;
        display: block;
        border: none;
        border-color: none;
    }
}
.main-content_icon{
    max-width: 60px;
    height: auto;
    display: block;
}
.happy-girl {
    width: 600px;
    height: auto;
}
.content-row {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.action-btn{
    color: $blue-v2;
    padding-bottom: 5px;
    &:hover{
        color:inherit;
    }
    span{
        position: relative;
    }
    span::before{
        position: absolute;
        bottom:-5px;
        width: 100%;
        height: 1px;
        right: 0;
        left: 0;
        content: '';
        display: block;
        border-bottom:1px dashed;
    }
}
#create-quiz-page {
    .sub-title {
        font-size: 1.2rem;
        color: $greyDarker;
    }

    .input-title {
        font-size: 1rem;
        color: $black;
        font-weight: 500;
    }
}

#read-quiz-page {
    .page-name {
        text-align: center;
    }

    .quiz-info {
        text-align: end;

        .date {
            color: $green;
            font-size: 1.2rem;
            font-weight: bolder;
        }

        .duration {
            color: $placeholderColor;
            font-weight: 500;
        }
    }
}

#list-of-students {
    .page-name {
        text-align: center;
    }

    .quiz-info {
        text-align: end;

        .date {
            color: $black;
            font-size: 1.2rem;
            font-weight: bolder;
        }

        .duration {
            color: $placeholderColor;
            font-weight: 500;
        }
    }

    .content-table {
        font-family: rubik, roboto;
        border-collapse: collapse;
        margin: 25px 0;
        width: 100%;
    }

    .content-table thead tr {
        color: #00ACB3;
        text-align: left;
        font-weight: bold;
        padding-bottom: 10px;
    }

    .content-table tbody td {
        padding: 12px 15px;
        background: #F4F4F4;
    }

    .content-table tbody tr {
        border-bottom: 10px solid #FFFFFF;
        padding-bottom: 15px;
    }

    td, th {
        text-align:center;
        padding: 12px;
    }

    .app-raised-button:hover {
        background-color: #6B5989;
    }

    .button__icon {
        vertical-align: middle;
        display: inline-block;
        align-items: center;
        color: #fff;
        height: 100%;
        font-size: 8px;
    }

    .content-table td:first-of-type {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    .content-table td:last-of-type {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

.student-quizzes {
    .body {
        background-color: #efeff0;
        border-radius: $borderRadius;
        position: relative;
        height: 100px;
        padding: 15px 35px;

        .top {
            .quiz-name {
                color: $greyDarker;
                font-weight: bold;
                font-size: 1.4rem;
            }
        }

        .section {
            color: #fff;
            padding: 4px 10px;
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: $green;
            border-radius: $borderRadius 0 $borderRadius 0;
            font-weight: 500;
        }
    }
}

