.bg-danger-v2 {
    background-color: #ffe7e9;
}
.bg-success-v2 {
    background-color: $success-v2;
}
.bg-violet-v2 {
    background-color: $violet;
}
.text-violet {
    color: $violet;
}
.text-secondary-v2 {
    color: $black;
}
.bg-blue-v2 {
    background-color: $blue;
}
.bg-green-v2 {
    background-color: $green;
}
