header {
    display: flex;
    background-color: $blue;
    flex-wrap: wrap;
    padding: 0.7rem 1rem;

    .logo-pic,
    .user-pic {
        width: 2.2rem;
        height: 2.2rem;
        border-radius: 50%;
    }

    .logo-title h2 {
        color: white;
        font-size: 1.4rem;
        font-weight: 700;
    }

    .right-side {
        margin-left: auto;
    }

    .logo-pic {
        background-image: url("../images/Logo_180.png");
        background-position: center center;
        background-size: 100% 100%;
    }

    .user-pic {
        background-position: center center;
        background-size: 100% 100%;
    }

    .log-out {
        background-color: transparent;
        color: #fff;
        border: none;
        outline: none;
        padding: 5px;
        font-weight: 600;
    }
}
